{% extends 'myapp/base.html' %}
{% block page_title %}Confirm Delete {{code.title}}{% endblock page_title %}
{% block page_style %}{% endblock page_style %}
{% block page_content %}
<div class="container mt-3 mb-5">
    <h2 class="text-danger text-shadow">Confirm Delete {{code.title}}?</h2>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Confirm Delete" class="btn btn-danger">
        <a href="{% url 'codesnippets:home' %}" class="link">Cancel</a>
    </form>
</div>
{% endblock page_content %}